{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="ru">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            
            Бесплатный, но стильный онлайн блокнот для записи заметок

        </title>

        <meta name="description" content="">
        <meta name="keywords" content="">

        {% compress css %}

            <link rel="stylesheet" href="{% static 'scss/auth/login.scss' %}" type="text/x-scss">

        {% endcompress %}

        <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>

    </head>

    <body>
        
        <div class="main">

            <div class="wrapper">

                <div class="brand">
    
                    <div class="wrapper">

                        <svg xmlns="http://www.w3.org/2000/svg" width="19.394" height="28.21" viewBox="0 0 19.394 28.21">
                            <path id="Icon_awesome-lightbulb" data-name="Icon awesome-lightbulb" d="M5.293,25.033a1.764,1.764,0,0,0,.3.975l.942,1.415A1.763,1.763,0,0,0,8,28.21h3.4a1.763,1.763,0,0,0,1.468-.787l.942-1.415a1.762,1.762,0,0,0,.3-.975l0-2.113H5.29l0,2.113ZM0,9.7a9.643,9.643,0,0,0,2.4,6.379,15.834,15.834,0,0,1,2.877,5.039c0,.014.006.043.006.043h8.829c0-.014,0-.028.006-.043a15.834,15.834,0,0,1,2.877-5.039A9.7,9.7,0,1,0,0,9.7ZM9.7,5.289A4.413,4.413,0,0,0,5.289,9.7a.882.882,0,0,1-1.763,0A6.178,6.178,0,0,1,9.7,3.526a.882.882,0,0,1,0,1.763Z" transform="translate(0 0)"/>
                        </svg>

                    </div>
    
                </div>
    
                <h1>Восстановление пароля</h1>

                <form method="POST">

                    {% csrf_token %}
    
                    <div class="fields">
                        
                        <div>

                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-label="Warning Icon "><title>Warning Icon</title><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0.999756C4.13401 0.999756 1 4.13376 1 7.99976C1 11.8657 4.13401 14.9998 8 14.9998C11.866 14.9998 15 11.8657 15 7.99976C15 4.13376 11.866 0.999756 8 0.999756ZM0 7.99976C0 3.58148 3.58172 -0.000244141 8 -0.000244141C12.4183 -0.000244141 16 3.58148 16 7.99976C16 12.418 12.4183 15.9998 8 15.9998C3.58172 15.9998 0 12.418 0 7.99976ZM7.5 8.99951V3.99999H8.5V8.99951H7.5ZM9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11Z" fill="currentColor"></path></svg>

                            <input type="text" id="email" placeholder="Электронная почта">

                        </div>
    
                    </div>

                    <div class="btns">

                        <button type="submit" id="continue">Далее</button>

                    </div>
    
                </form>
    
            </div>

        </div>


    </body>

    <style>

        @font-face {
            font-family: Comfortaa;
            src: url("{% static 'fonts/Comfortaa.ttf' %}");
        }

        body {

            font-family: Comfortaa;

        }

        button {

            font-family: Comfortaa;
            cursor: pointer;
            border: none;
            border-radius: 100px;

        }

        input {

            font-family: Comfortaa;

        }


    </style>

    <!-- Sending a recovery email -->
    <script>

        $('#continue').click(function() {

            email = $('#email').val();

            $.ajax({

                type: 'POST',

                url: "{% url 'user:recover' %}",

                data: {

                    'csrfmiddlewaretoken': "{{ csrf_token }}",

                    'e': email,

                }

            })

        })

    </script>

    <script>

        function delay(callback, ms) {

            var timer = 0;

            return function() {

                var context = this, args = arguments;
                clearTimeout(timer);
                
                timer = setTimeout(function () {

                    callback.apply(context, args);

                }, ms || 0);
            };
        }


        var e, p;

        function v() {

            if (e && p) {

                $('#l').prop('disabled', false);

            } else {

                $('#l').prop('disabled', true);

            }

        }

        function ve(e) {

            var re = /\S+@\S+\.\S+/;
            return re.test(e);

        }

        $('#e').keyup(delay(function() {

            if (ve($(this).val())) {

                e = true;

            } else {

                e = false;

            }

            v();

        }, 500));

    </script>

</html>