$text-color: #1E2330;

body {

    margin: 0;

    overflow-x: hidden;

}

.main {

    position: relative;
    top: 0;
    left: 0;

    width: 100%;

    .sidenav {

        position: fixed;
        top: 160px;
        left: 50px;

        width: calc(30% - 50px);

        float: left;

        a {

            text-decoration: none;
            color: initial;
            width: 450px;

            div {

                width: 450px;
                height: 40px;

                display: flex;
                align-items: center;

                padding: 10px;
                margin-bottom: 20px;

                border-radius: 100px;
                box-shadow:  1px 1px 4px #b9b9b7,
                            -1px -1px 4px #ffffff;

                h1 {

                    font-weight: normal;
                    font-size: 23px;

                    margin-left: 20px;

                }

            }

            div.active {

                box-shadow:  inset 1px 1px 4px #b9b9b7,
                            inset -1px -1px 4px #ffffff;
    
            }

            

        }

    }

    .info {

        position: relative;
        top: 80px;
        right: 30px;

        width: calc(70% - 70px);

        float: right;
        padding: 20px;
        margin-bottom: 20px;

        border-radius: 20px;

        box-shadow:  1px 1px 4px #b9b9b7,
                            -1px -1px 4px #ffffff;

        ol { 

            counter-reset: item; 

        }

        ol > li{ 

            display: block;

            margin: 15px 0 15px 0;

            font-size: 21px;
            font-weight: bold;
        
        }

        ol > li:before { 

            content: counters(item, ".") ". "; 
            counter-increment: item;
        
        }

        ol > li > ol > li {

            font-size: 16px;
            font-weight: normal;

        }

        ul > li {

            margin: 10px 0 10px 0;

        }

        table {

            td, th {

                border: 1px solid #ddd;
                padding: 8px;

                border-radius: 10px;

            }

            th {

                font-size: 20px;

            }

        }

    }

}